body{
    background-image: linear-gradient(to top right,rgb(26, 24, 24),rgb(61, 52, 52),gray);
    background-repeat: no-repeat;
    height: 620px;
    display: grid;
    place-items: center;
}


#clock{
 background-color: rgb(102, 102, 101);
width: 200px;
height: 100px;
text-align: center;
border-radius: 10px;
box-shadow: 0px 0px 10px 5px rgb(139, 134, 134);
position: relative;
bottom: 50px;
    }
    h1{
        font-size: 30px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h3{
    color: rgb(10, 10, 10);
    font-size: 40px;
    position: relative;
    top: 130px;
    }